
<h1><%= @task.title %></h1>
<div><%= link_to 'Edit Task', edit_task_path, class:'btn btn-primary' %></div>
<div class="container">
  <p><%= @task.details %></p>
  <%= link_to task_path(@task), method: :delete, style: 'color:red', data: {confirm: "Destroy #{@task.title}?" } do %>
  <i class="fas fa-skull-crossbones"></i>
  <% end %>

  <div ><%= link_to 'Back to All Tasks', tasks_path, class:"btn btn-primary" %></div>
</div>